@page
@model IndexModel
@{
    ViewData["Title"] = "Front page";
}

<div class="text-center">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Skoða veður" aria-label="station" aria-describedby="basic-addon1">
        <button type="button" class="btn btn-primary">Finna</button>
    </div>
</div>

